<h1><%= @user.username %></h1>

<b>Real name:</b> <%= @user.realname %><br />
<b>IRC nick:</b> <%= @user.irc_nick %><br />
<b>Email:</b> <%= mail_to @user.email %><br />
<b>Student number:</b> <%= @user.student_number %><br />