<%= render 'courses/navigation' %>

<h3>Reviewing <%= @weekly_submission.participation.user.username %>'s submission for week <%= @course.current_week.number %> of <%= @course.name %></h3>

<%= render 'form' %>