<h1>
  <%= @course.name %>
  <small>
    <% if @course.registeration_open? %>
        <span class="label label-success">Registeration open</span>
    <% end %>

    <% if not @course.active? %>
        <span class="label label-danger">Completed</span>
    <% end %>
  </small>
</h1>

<% if current_user.is_leader? @course or current_user.is_teacher? @course %>
  <div class="tabs">
    <ul class="nav nav-tabs">
      <li <%= 'class="active"'.html_safe if on_page?('courses', 'show') %>>
        <a href="<%= course_path @course %>">
          <span class="glyphicon glyphicon-home"></span> Main
        </a>
      </li>

      <li <%= 'class="active"'.html_safe if on_page?('courses', 'review_students') %>>
        <a href="<%= review_students_course_path @course %>">
          <span class="glyphicon glyphicon-check"></span> Review students
        </a>
      </li>

      <li <%= 'class="active"'.html_safe if on_page?('courses', 'codereviews') %>>
        <a href="<%= codereviews_course_path @course %>">
          <span class="glyphicon glyphicon-eye-open"></span> Code reviews
        </a>
      </li>

      <li <%= 'class="active"'.html_safe if on_page?('courses', 'manage_weeks') or on_page?('weeks', 'edit') %>>
        <a href="<%= manage_weeks_course_path @course %>">
          <span class="glyphicon glyphicon-time"></span> Manage weeks
        </a>
      </li>

      <li <%= 'class="active"'.html_safe if on_page?('courses', 'edit') %>>
        <a href="<%= edit_course_path @course %>">
          <span class="glyphicon glyphicon-cog"></span> General settings
        </a>
      </li>
    </ul>
  </div>
<% end %>