<%= render 'navigation' %>

<% if @course.current_week.number == 0 %>
  <h3>The course has not begun yet!</h3>
  Starting the course will automatically close registerations. You can manually open registeration later from the course settings!<br /><br />
  <%= link_to 'Begin course!', advance_week_course_path, method: :post, class: 'btn btn-success' %>
  <br /><br />
<% else %>
  <h3>Currently on week <%= @course.current_week.number %></h3>

  <div class="review-students-info">
    <p>
      On this page you can give points for students for week <%= @course.current_week.number %>. Once you have reviewed all students,
      use the button below to advance to the next week.<br />
    </p>
    <p>
      <%= link_to 'Use review helper', '#', class:'btn btn-info' %>
      <%= link_to "Advance to week #{@course.next_week.number}", advance_week_course_path, method: :post, class:'btn btn-success' %>
    </p>
    <p>
      You have currently reviewed <%= @course.current_week.submission_count %> out of <%= @course.student_participations.count %> students this week.
    </p>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-xs-3">Student</th>
      <th class="col-xs-3">Assigned teacher</th>
      <th class="col-xs-2">Submission status</th>
      <th class="col-xs-4">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @course.student_participations.each do |participation| %>
      <% submission = participation.user.submission_for_week(@course, @course.current_week) %>
      <tr>
        <td><%= link_to participation.user.format_name(true), participation.user %></td>
        <td>To be implemented</td>
        <td>
          <% if submission %>
            <span class="label label-success">Points given: <%= submission.points %></span>
          <% else %>
            <span class="label label-danger">Not reviewed</span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Repository', participation.repository, class:'btn btn-warning' %>
          <% if submission %>
            <%= link_to 'Edit submission', '#', class:'btn btn-primary' %>
          <% else %>
            <%= link_to 'Review student', new_course_weekly_submission_path(@course, participation:participation), class:'btn btn-success' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>