<h2><%= @course.name %></h2>

<p>
  Leader: <%= link_to @course.leader.username, @course.leader %><br />
  IRC channel: <%= @course.irc_channel %><br />
  Default codereview group: <%= @course.default_codereview_group %><br />
  Current week: <%= @course.current_week %><br />
  Active: <%= @course.active? %><br />
  Registeration open: <%= @course.registeration_open? %>
</p>

<!--
<h3>All weeks:</h3>

<p>
  <#% @course.weeks.each do |week| %>
    <#%= week %><br />
  <#% end %>
</p>

-->

<% if current_user.is_teacher? @course or current_user.is_leader? @course %>

  <h3>Participants</h3>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-xs-2">Student</th>
      <th class="col-xs-4">Topic</th>
      <th class="col-xs-6">Repository</th>
    </tr>
    </thead>

    <tbody>
      <% @course.participations.each do |participation| %>
        <tr>
          <td><%= link_to participation.user.username, participation.user %></td>
          <td><%= participation.topic %></td>
          <td><%= link_to participation.repository, participation.repository %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<% if current_user.is_participant? @course %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <% @course.weeks.each do |week| %>
          <% if week.number != 0 %>
            <th class="col-xs-1"><%= week.number %></th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @course.weeks.each do |week| %>
          <% if week.number != 0 %>
            <% submission = @course.user_submission current_user, week %>
            <td><%= submission || '-' %></td>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>

<% unless current_user.is_leader? @course or current_user.is_teacher? @course %>
  <br />

  <% if current_user.is_participant? @course %>
    <%= link_to 'Leave course', participation_path, method: :delete, class:'btn btn-danger', data: { confirm: 'Are you sure? Only do this if joining was accidental' } %>
  <% else %>
    <%= link_to 'Join course', join_course_path, class:'btn btn-success' %>
  <% end %>
<% end %>